.text {
    text-align: left;
}

.body {
    align-items: center;
    background-image: url("../../img/fondo-asteroide-2.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 500px;
    height: 100%;
}

.row {
    width: 100%;
}

.title {
    margin-bottom: 150px;
}

.description {
    margin-bottom: 100px;
}