<div class="body">
    <div class="pos-f-t w-100 ">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>

        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">

                <a class="navbar-brand" href="/">Home</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarText">

                    <!-- 
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">
                                <button type="button" class="btn btn-success">First Component</button></a></li>
                        <br>
                        <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">
                                <button type="button" class="btn btn-success">Second Component</button></a></li>
                        <br>
                        <li><a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page">
                                <button type="button" class="btn btn-success">Home</button></a></li>
                    </ul>
                    -->
                    <div class="list">
                        <ul>
                            <li>Imtem-2</li>
                            <li>Imtem-3</li>
                            <li>Imtem-4</li>
                            <li>Imtem-5</li>
                            <li>Imtem-6</li>
                            <li>Imtem-7</li>
                            <li>Imtem-8</li>
                        </ul>
                    </div>


                </div>
            </div>
        </nav>
    </div>
</div>