<div class="body">
    <div class="card mb-3 d-flex justify-content-center col-md-1 container-lg " style="width: 100%">

        <img class="card-img-top" src="{{ datos.url }}" />
        <div class="card-body">
            <h3 class="text-center">Image of the day</h3>
            <br />
            <small class="text-body-secondary">Image date: {{ datos.date }}</small>
            <br />
            <h5 class="card-title">{{ datos.title }}</h5>
            <br />
            <p class="card-text">{{ datos.explanation }}</p>
            <p class="card-text">

            </p>

            <div>
                <h3>Find the photo you are searching</h3>
                <p>Posterior al 16 de junio de 1995, el primer día en que se publicó una imagen de APOD</p>
               
                <input type="date">
                <br>
               
                <button type="button" class="button btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>