<p>apod works!</p>

<div class="card m-1" style="width: 18rem;" *ngFor="let apod of apodList"></div>



<!--  
<div class="mt-5">
    <div class="row">
        <div class="card m-1" style="width: 18rem;" *ngFor="let user of apodList.data.data">
            <img class="card-img-top" src={{user.avatar}}>
            <div class="col text-center">
                <div class="card-body">
                    <h4 class="card-title text-center"> {{user.first_name}}</h4>
                    <h4 class="card-title text-center"> {{user.last_name}}</h4>
                    <h6 class="card-title text-center"> {{user.email}}</h6>
                    <a href="#" class="text-center btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
-->