.body{
    background-image: url("../../img/fondo_nasa.jpg");
    background-size: 100%;
    width: 100%;
    padding-bottom: 400px;
    padding-top: 200px;
}

.card-img-top{
    margin-top: 20px;
}

.button{
    margin-top: 20px;
}