/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("../src/app/img/img-nasa.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}
