<div class=" body container-fluid   text-center ">

    <div class="intro">
        <h2>Objective of the project</h2>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, id excepturi! Cum in labore
            cumque ipsum quis quod dolores ea esse laborum numquam ipsa omnis cupiditate enim odio nihil sit tempore,
            inventore at suscipit animi nam velit ducimus adipisci quam. Nihil pariatur sunt, natus at deserunt debitis
            sint perferendis officia reiciendis earum rerum modi provident voluptate dicta quisquam delectus, hic porro
            corporis impedit minus harum. Ab vel deleniti, voluptatum quo quaerat sapiente, perferendis vitae,
            recusandae accusantium aut deserunt modi nesciunt iure. Omnis porro modi ullam dolor consequatur, est
            debitis, ab corporis rerum qui hic atque quaerat ea a dolores, quisquam assumenda delectus. Harum nobis
            perspiciatis, assumenda error enim neque molestiae nihil similique officiis laboriosam nemo provident animi
            iusto, sequi dignissimos recusandae ullam atque possimus. Id exercitationem corporis, eius explicabo rerum
            quo tenetur, voluptatem incidunt totam nisi blanditiis, nam esse doloribus dolorem dignissimos labore
            laborum distinctio deserunt fugit! Dicta est officia incidunt esse ducimus voluptas, quasi dolorem placeat,
            tempora voluptate ipsam amet libero iste maxime, labore inventore beatae dolores dolore ea eius hic
            sapiente? Adipisci temporibus explicabo natus, aliquid quae possimus unde iure enim, commodi qui facilis
            dolorem non ipsum consequatur fugiat quam, reiciendis quisquam sunt. Natus sint nihil quibusdam velit.</p>
    </div>

    <div class="row ">

        <div *ngFor="let card of cardContent" class="card mx-3 my-3 p-0" style="width: 18rem;">
            <div class="col">
                <div class="card text-center text-white bg-dark h-100">
                    <h5 class="card-header">{{card.title}}</h5>
                    <div class="card-body">
                        <p class="card-text">{{card.description}}</p>
                    </div>
                    <span class="bg-dark"><a href="{{card.url}}" class="bg-dark btn btn-primary mb-2 mt-2">See
                            more</a></span>
                </div>
            </div>
        </div>
    </div>
</div>